<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">ALGORITMOS DE BÚSQUEDA A CIEGAS
            </h4>
            <p class="card-category">Seleccione el nodo inicial y nodo destino en cada algoritmo</p>
        </div>
        <div class="card-body">
                <mat-accordion>
                    <mat-expansion-panel class="">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Búsqueda en Amplitud
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.start" style="text-align: right" min="0" matInput placeholder="Nodo Raíz" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.goal" style="text-align: right" min="0" matInput placeholder="Nodo Destino" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button (click)="blindSearch('BFS')" mat-raised-button color="primary">
                                    Comenzar <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive table-div">
                                    <table class="table table-hover" style="text-align: right">
                                        <thead class="text-primary">
                                            <th>
                                                Paso
                                            </th>
                                            <th>
                                                Estructura
                                            </th>
                                            <th>
                                                Extraer
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let n of searchResult['BFS']['queue']; let i = index">
                                                <td>
                                                    {{i}}
                                                </td>
                                                <td >
                                                    {{n}}
                                                </td>
                                                <td >
                                                    {{searchResult['BFS']['pop'][i]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Búsqueda en Profundidad
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field class="">
                                    <input [(ngModel)]="search.start" style="text-align: right" min="0" matInput placeholder="Nodo Raíz" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="">
                                    <input [(ngModel)]="search.goal" style="text-align: right" min="0" matInput placeholder="Nodo Destino" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button (click)="blindSearch('DFS')" mat-raised-button color="primary">
                                    Comenzar <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive table-div">
                                    <table class="table table-hover" style="text-align: right">
                                        <thead class="text-primary">
                                            <th>
                                                Paso
                                            </th>
                                            <th>
                                                Estructura
                                            </th>
                                            <th>
                                                Extraer
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let n of searchResult['DFS']['queue']; let i = index">
                                                <td>
                                                    {{i}}
                                                </td>
                                                <td>
                                                    {{n}}
                                                </td>
                                                <td>
                                                    {{searchResult['DFS']['pop'][i]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Búsqueda de Profundidad Iterativa
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.start" style="text-align: right" min="0" matInput placeholder="Ingrese el nodo Raíz" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.goal" style="text-align: right" min="0" matInput placeholder="Ingrese el nodo Destino" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button (click)="blindSearch('IDDFS')" mat-raised-button color="primary">
                                    Comenzar <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive table-div">
                                    <table class="table table-hover" style="text-align: right">
                                        <thead class="text-primary">
                                            <th>
                                                Paso
                                            </th>
                                            <th>
                                                Estructura
                                            </th>
                                            <th>
                                                Extraer
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let n of searchResult['IDDFS']['queue']; let i = index">
                                                <td>
                                                    {{i}}
                                                </td>
                                                <td>
                                                    {{n}}
                                                </td>
                                                <td>
                                                    {{searchResult['IDDFS']['pop'][i]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Búsqueda de Costo Uniforme
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.start" style="text-align: right" min="0" matInput placeholder="Ingrese el nodo Raíz" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.goal" style="text-align: right" min="0" matInput placeholder="Ingrese el nodo Destino" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button (click)="blindSearch('UCS')" mat-raised-button color="primary">
                                    Comenzar <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="table-responsive table-div">
                                    <table class="table table-hover" style="text-align: right">
                                        <thead class="text-primary">
                                            <th>
                                                Paso
                                            </th>
                                            <th>
                                                Estructura
                                            </th>
                                            <th>
                                                Extraer
                                            </th>
                                            <th>
                                                Coste Total
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let n of searchResult['UCS']['queue']; let i = index">
                                                <td>
                                                    {{i}}
                                                </td>
                                                <td>
                                                    {{n}}
                                                </td>
                                                <td>
                                                    {{searchResult['UCS']['pop'][i]}}
                                                </td>
                                                <td>
                                                    {{searchResult['UCS']['total_cost'][i]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Búsqueda Bidireccional
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.start" style="text-align: right" min="0" matInput placeholder="Ingrese el nodo Raíz" type="number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="" >
                                    <input [(ngModel)]="search.goal" style="text-align: right" min="0" matInput placeholder="Ingrese el nodo Destino" type="number">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
        </div>
    </div>
</div>
