<div class="main-content">
  <div class="container-fluid">
      
      <button class="col-md-12" (click)="generateRandomGraph()" style="text-align: left" mat-button>
        <h2>Generar Grafo Aleatorio  <i class="medium material-icons">cached</i></h2>
      </button>
      <hr>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">grain</i>
                      </div>
                      <h3 class="card-title">Nodos
                      </h3>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" style="text-align: right">
                      <input [(ngModel)]="randomGraph.noNodos" min="2" [formControl]="minNodes" matInput placeholder="No. Nodos" type="number" >
                      <mat-error *ngIf="minNodes.hasError('min')">
                        Debe tener al menos <strong>2 Nodos</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">device_hub</i>
                      </div>
                      <h3 class="card-title">Hijos</h3>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" style="text-align: right">
                      <input [(ngModel)]="randomGraph.maxHijos" [formControl]="rateControl" matInput placeholder="Max. Hijos" min="1" type="number" >
                      <mat-error *ngIf="rateControl.hasError('min')">
                        Debe tener al menos <strong>1 hijo</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">gps_fixed</i>
                      </div>
                      <h3 class="card-title">G(n)</h3>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" style="text-align: right">
                      <input [(ngModel)]="randomGraph.maxGN" min="0" matInput placeholder="Max. Función Evaluación" type="number" >
                    </mat-form-field>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">show_chart</i>
                      </div>
                      <h3 class="card-title">H(n)</h3>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" style="text-align: right">
                      <input [(ngModel)]="randomGraph.maxHN" min="0" matInput placeholder="Max. Función Heurística" type="number" >
                    </mat-form-field>
                  </div>
              </div>
          </div>
      </div>
      <button (click)="generateGraph()" class="col-md-12" style="text-align: left" mat-button>
        <h2>Generar Grafo Específico  <i class="medium material-icons">publish</i></h2>
      </button>
      <hr>
      El archivo de nodos debe llamarse "Nodo.txt"
      <br>
      El archivo de aristass debe llamarse "Arista.txt"
      <div class="row">
            <input #fileInput name="file" multiple type="file">
            
        <!--
            <button mat-raised-button class="standard-button" (click)="uploadFile()">Upload file</button>
            <input class="ng-hide" id="input-file-id" multiple type="file" />
            <div class="col-md-12">
                <input #file type="file" accept="image/*" (change)="upload(file.files)">
            </div>
        -->
      </div>
  </div>
</div>
