<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Tabla Comparativa</h4>
                        <p class="card-category"> Se compara la complejidad de los Algoritmos de Búsqueda
                            <br>
                            La tabla se irá actualizando según se realicen búsquedas
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>
                                        Algoritmo
                                    </th>
                                    <th>
                                        Complejidad Temporal
                                    </th>
                                    <th>
                                        Complejidad Espacial
                                    </th>
                                    <th>
                                        Complejidad Empírica
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Amplitud
                                        </td>
                                        <td>
                                            O(b^d) = {{searchResult['BFS']['temporal']}}
                                        </td>
                                        <td>
                                            O(bd) = {{searchResult['BFS']['spatial']}}
                                        </td>
                                        <td>
                                            {{searchResult['BFS']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Profundidad
                                        </td>
                                        <td>
                                            O(b^d) = {{searchResult['DFS']['temporal']}}
                                        </td>
                                        <td>
                                            O(bd) = {{searchResult['DFS']['spatial']}}
                                        </td>
                                        <td>
                                            {{searchResult['DFS']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Profundidad Iterativa
                                        </td>
                                        <td>
                                            O(b^d) = {{searchResult['IDDFS']['temporal']}}
                                        </td>
                                        <td>
                                            O(b) = {{searchResult['IDDFS']['spatial']}}
                                        </td>
                                        <td>
                                            {{searchResult['IDDFS']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Costo Uniforme
                                        </td>
                                        <td>
                                            O(b^d) = {{searchResult['UCS']['temporal']}}
                                        </td>
                                        <td>
                                            O(bd) = {{searchResult['UCS']['spatial']}}
                                        </td>
                                        <td>
                                            {{searchResult['UCS']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Bidireccional
                                        </td>
                                        <td>
                                            O(b^(d/2)) = {{searchResult['BS']['temporal']}}
                                        </td>
                                        <td>
                                            O(b^(d/2)) = {{searchResult['BS']['spatial']}}
                                        </td>
                                        <td>
                                            {{searchResult['BS']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Gradiente
                                        </td>
                                        <td>
                                            O(d) = {{heuristicSearchResult['HC']['temporal']}}
                                        </td>
                                        <td>
                                            O(b) = {{heuristicSearchResult['HC']['spatial']}}
                                        </td>
                                        <td>
                                            {{heuristicSearchResult['HC']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Primero el Mejor
                                        </td>
                                        <td>
                                            O(b^d) = {{heuristicSearchResult['BestFS']['temporal']}}
                                        </td>
                                        <td>
                                            O(b^d) = {{heuristicSearchResult['BestFS']['spatial']}}
                                        </td>
                                        <td>
                                            {{heuristicSearchResult['BestFS']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda A*
                                        </td>
                                        <td>
                                            O(b^d) = {{heuristicSearchResult['A*']['temporal']}}
                                        </td>
                                        <td>
                                            O(b^d) = {{heuristicSearchResult['A*']['spatial']}}
                                        </td>
                                        <td>
                                            {{heuristicSearchResult['A*']['complexity']}} ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">
                                            Búsqueda Avara
                                        </td>
                                        <td>
                                            O(b^d) = {{heuristicSearchResult['GS']['temporal']}}
                                        </td>
                                        <td>
                                            O(b^d) = {{heuristicSearchResult['GS']['spatial']}}
                                        </td>
                                        <td>
                                            {{heuristicSearchResult['GS']['complexity']}} ms
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>