<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Graph Information</h4>
                      <p class="card-category">Para grafos extensos: En caso de que el grafo
                           no se muestre correctamente debe esperar un momento hasta que se 
                           renderize completamente (F5 para actualizar)<br/>
                      Nodos del mismo tamaño/color tienen el mismo valor Funcional <br/>
                      El Grafo es zoomable y draggable</p>
                  </div>
                  <div class="card-body">
                        <svg width="600" height="500"></svg>
                  </div>
              </div>
              
            
          </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="" class="disable">
                        <img class="img" src="../assets/img/faces/Hackerman2.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">University of Cuenca student
                            <div class="card-icon">
                                    <i class="material-icons">school</i>
                            </div>
                    </h6>
                    <h4 class="card-title">Miguel Ángel</h4>
                    <p class="card-description">
                    </p>
                    <a href="https://github.com/TheWorstOne" class="btn btn-danger btn-round" target="_blank">Follow</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
